<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>TO DO LIST</title>
</head>

<body>

<div id="app">
  <header>
    <div class="container-title">
      <div class="title">TO DO LIST</div>
    </div>
  </header>
  <div class="input">
    <input @keyup.enter="NewToDo" v-model.trim="AddToDo" class="input-text placeholder" style="text-align: center" type="text" placeholder= "inserisci le nuove cose da fare!">
    <button @click="NewToDo"><i class="fa-solid fa-plus"></i></button>
  </div>
    <main>
      <div class="container-list">
        <ul >
          <div class="title-list">
            <h3>Cose da fare</h3>
            <h3>Fatte</h3>
          </div>
          <li v-for="(list,i) in lists">
            <span v-if="list.done === true" class="decoration" >{{list.text}}</span>
            <span v-else="list.done === false" > {{list.text}}</span> 
            <span > <input v-model="list.done" type="checkbox" name="checkbox" id="checkbox">
            <i @click="deleteRow(i)" class="fa-solid fa-trash-can"></i>
            </span> 
          </li>
        </ul>
      </div>
    </main>
</div>

  <script src="script/scrpt.js"></script>

</body>
</html>